mixin feature(props = {})
  - const {  } = props;

  .feature
    .feature__wrapper.wrapper
      .feature__content
        .feature__item.feature__item1
          h2.feature__item-headline Water resistant
          hr.feature__splitter
          .feature__image.feature__image1
        .feature__item.feature__item2
          h2.feature__item-headline Charging system
          hr.feature__splitter
          .feature__image.feature__image2
        .feature__item.feature__item3
          h2.feature__item-headline Artificial leather
          hr.feature__splitter
          .feature__image.feature__image3
        .feature__item.feature__item4
          h2.feature__item-headline Modern clothes
          hr.feature__splitter
          .feature__image.feature__image4
