mixin about(props = {})
  - const {  } = props;

  .about
    .about__wrapper.wrapper
      .about__content
        .about__text
          p.about__slogan Creative bag only for you.
          h2.about__headline Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.
          p.about__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          a.prevdef.about__see-more-link(href="#") See more
