mixin general(props = {})
  - const {  } = props;

  .general
    .general__wrapper.wrapper
      .general__content
        .general__text
          p.general__slogan Look stylish be stylish.
          h1.general__headline Look stylish be #[span stylish.]
          p.general__paragraph Before starting this business you should have ideas about the market and products to Compete with the Existing Businesses.
          a.prevdef.general__join-shop-link(href="#")  Join Shop
