extends ../templates/page/page
include ../components/welcome/welcome
include ../components/logo/logo

block head
  - const pageTitle = "Bagster";
  - const pageDescription = "Bags online shop";
  - const pageKeywords = "bags, bag, shop";

block content
  //- +welcome({
  //-   message: 'Welcome! <br/> Happy coding!'
  //- })
  +logo
