@import '../../scss/variables';
@import '../../scss/mixins';
// @import '~bootstrap/scss/bootstrap-reboot';

.header {
  padding: 70px 0px;
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
  }
  &__menu-n-link-container {
    width: 100%;
    @include flex(column, wrap, flex-start, center);
  }
  &__menu {
    width: 100%;
    @include flex(column, wrap, flex-start, center);
    margin-top: 40px;
  }
  &__menu-link {
    text-decoration: none;
    font-family: $pr;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(#fff, 0.6);
    text-transform: capitalize;
    transition: 0.2s;
    margin-top: 20px;
    &:hover {
      color: #fff;
    }
    &:first-child {
      margin-top: 0px;
    }
  }
  &__shop-now-link {
    @include linkStyle();
    margin-top: 40px;
  }
}

// Bootstrap Media Queries
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
